@charset "UTF-8";

.header_content {
	background-image:url("../image/article_hbg.png"); 
	background-repeat:no-repeat;
}

.thesis {
	display:table;
	margin-bottom:30px;
}

.thesis span {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	border-right:1px solid RGB(0, 0, 0);	
	border-right:1px solid RGBA(0, 0, 0, 0.6);
	font-size:40px;
	float:left;	
	margin-right:10px;
	padding:10px 0;
	padding-right:10px;
}

.thesis p {
	display:table-cell;
	vertical-align:middle;
	width:780px;
	height:60px;
	line-height:18px;	
}

.header_img {
	margin-left:-35px;
}