@charset "UTF-8";

.article_title {	
	background:#B5B5B6;
	font-family:"華康儷中宋";
	font-size:17px;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
	margin-bottom:30px;
}

.article_title h1 {
	margin-left:20px;
}

.published_articles, .submission_articles {
	padding-top:10px;
}