@charset "UTF-8";

.main_container {
	margin-top:130px;
}

.point {
	margin-left:30px;
	margin-top:15px;
}

.content {
	margin-right:-50px;
}

.content ul {
	background:#fff;
}

.content .odd {
	float:left;
}

.data {
	display:table;
	background-image:url("../image/license_bg.png");
	height:146px;
	width:400px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:20px;
}

.data span {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background:#C9CACA;
	font-size:40px;
	width:55px;
	height:140px;
	padding-left:10px;
	padding-right:10px;
	*line-height:140px;
}

.data p {
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
	line-height:18px;	
	margin-left:75px;
	padding-left:20px;
	*margin-top:-90px;
}